doctype html
//
  /*
   * Streetmix
   *
   * Front-end (mostly) by Marcin Wichary, Code for America fellow in 2013.
   *
   * Note (July 2013): This code is still wonky. Now that we’re out of alpha, I will be
   * dedicating some effort to cleaning it up.
   */

html(lang='en')
  head
    title Streetmix

    meta(charset='utf-8')
    meta(http-equiv='Content-Language', content='en')
    meta(name='description', content='Design, remix, and share your neighborhood street – all in your browser! Add trees or bike paths, widen sidewalks or traffic lanes, learn how your decisions can impact your community.')

    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='transparent')

    link(href='/favicon.ico', rel='shortcut icon')
    link(href='/assets/css/styles.css', rel='stylesheet')

    //- Google analytics
    //- Placed in head per Google's instructions
    //- This incurs no performance hit. The snippet itself creates an
    //- asynchronous (non-blocking) request to analytics.js.
    if config.google_analytics_account
      include ./misc/ga

    script.
      var SITE_URL = 'http://#{ config.app_host_port }/'
      var API_URL = '#{ config.restapi_proxy_baseuri_rel }/'
      var FACEBOOK_APP_ID = '#{ config.facebook_app_id }'
      var URL_SIGN_IN_CALLBACK_REL = '#{ config.twitter.oauth_callback_uri }'
      var ENV = '#{ config.env }'
      var NO_INTERNET_MODE = #{ config.no_internet_mode }

    != js('app')

    script(src='//platform.twitter.com/widgets.js')

    script.
      Stmx.preInit()

  body(tabindex='1')

    block main

  script.
    Stmx.init()
