<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <title>{{title}} - Streetmix</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/favicon.ico" rel="shortcut icon" />
    <link href="/assets/main.{{cacheTimestamp}}.css" rel="stylesheet" />
  </head>
  <body tabindex="1">
    <div id="error">
      <div class="error-content">
        <div class="streetmix-logo"></div>
        <div class="error-text">
          <h1>{{heading}}</h1>
          <p>{{message}}</p>
          <p class="error-text-small">[HTTP ERROR {{errorCode}}]</p>
        </div>

        <a class="btn btn-primary" href="/">{{returnButton}}</a>

        {{#if userId}}
          <p class="error-help-link">
            <a href="/{{userId}}">
              {{! Helper that rebuilds the Avatar component in HTML }}
              {{#replaceToken userRedirect "{{username}}"}}
                <span class="avatar">
                  <object
                    type="{{profileImageMimeType}}"
                    data="{{profileImageUrl}}"
                    aria-label="{{username}}"
                  >
                    <img src="/images/avatar.svg" alt="{{username}}" />
                  </object>
                </span>
                {{username}}
              {{/replaceToken}}
            </a>
          </p>
        {{/if}}
      </div>
    </div>
  </body>
</html>
